html, body, h3, p {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}
#header{
   height: 90px;
   background-color: #800080;
   padding-top: 0px;
}
#logo{
	float: left;
	margin-left: 25px;
	margin-top: 0px;
}
#nav{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
ul#navlist{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
ul#navlist li{
	display: inline;
	padding-right: 15px;
}
#content{
	padding-top: 60px;
    margin-left: 250px;
}
#add-form{
	float: left;
	
	width: 350px;
	/*background-color: orange;*/
}
#mapcontainer{
	float: left;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	width: 450px;
	height: 300px;
}
#submit-strip{
	float: left;
	/*background-color: red;*/
	width: 852px;
	padding-top: 50px;
}
#submt{
	float: right;
	margin-right: 50px;
}