
.header {
    	background-color:#9acd32;
	height:125px;
}
.header div {
	background-color:#9acd32;

	margin:0 auto;
	overflow:hidden;
	padding:0 10px;
	position:relative;
	width:940px;
}
.header div a#logo {
	float:left;
	left:8px;
	position:absolute;
	top:44px;
}
.header div div {
	float:right;
	margin:0;
	padding:0;
	position:static;
	width:475px;
}
.header div div > a {
	display:block;
	float:right;
	margin:0 19px 0 0;
	width:201px;
	height:58px;
	text-indent:-99999px;
}
.header div div ul {
	clear:both;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:21px 0 0;
}
.header div div ul li:first-child {
	margin:0;
}
.header div div ul li {
	float:left;
	margin:0 0 0 30px;
}
.header div div ul li a:first-child {
	color:#fff;
	display:inline;
	float:none;
	font-family:rokkittbold;
	font-size:16px;
	letter-spacing:.025em;
	line-height:24px;
	margin:0;
	text-decoration:none;
	text-shadow:2px 3px 2px #000;
}
.footer div {
	margin:27px auto 0;
	overflow:hidden;
	padding:0 10px;
	width:940px;
}

.footer div ul {
	list-style:none;
	
}
/*
.footer div ul li {
	float:left;
	margin:0 0 0 31px;
}
*/


