<!DOCTYPE html>


<html>
<head>
	<meta charset="UTF-8">
	<title>HomePage</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">

</head>
<body> 

<div id="templatePreview">
	<div class="header">
              <div>
		<h1>LoSoMo</h1>
			<div>
			   <ul>
				<form name="input" action="http://127.0.0.1:5000/search/{{name}}" method="GET">
				<input type ="hidden" name= "user" >
				<input type ="hidden" name= "latitude" >
				<input type ="hidden" name= "longitude" >
				<li>
					<input type ="submit" value="Search" style="background-color:#9acd32;">	
				</li>
				<li>
				<input type=button onClick="parent.location='http://127.0.0.1:5000/tipreader/{{name}}'" value="Tip" style="background-color:#9acd32;">	
				</li>
				<li>{% if name %}
					{{ name }}
				    {% endif %}

				</li>
                                </form>
			   </ul>
			</div>
		</div>

	</div>

</div>



	
	<div class="footer">
                 <div>
	
				<h4>Recent Tweets</h4>
				{% block body %}
  				<ul>
				   <li>
				      <p>
  					{% for row in table %}
   					   {% for atribute in row[0:2] %}
    						{{ atribute }}<br/>
                
     					   {% endfor %}
      				        </p>
					</li>
  					{% endfor%}
 				      </ul>
				{% endblock %}
				

			</div>
			
		
	</div>


</body>
</html>
