<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>Add a spark</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/adder.css')}}" type="text/css">
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/map.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/adder.js')}}"></script>
</head>
<body onload="showPosition()">
	<div id = "header">
   	    <div id ="logo">
            <img src="{{ url_for('static', filename='image/logo.png') }}" width ="250" height = "100">
        </div>  
        <div id = "nav">
            <ul id ="navlist">
                <li id ="searchbutton"><img src="{{ url_for('static', filename='image/search.png') }}" 
                    onclick="window.location='http://127.0.0.1:5000/search/{{name}}'" width ="40" height="40">
                </li>
                <li id ="userphoto"><img src="{{url_for('static', filename='image/Tony.jpg') }}" width ="40" height="40">
                </li>
            </ul>
        </div>
    </div>
    <div id = "content">
    	<div id="add-form">
           <h3>Share a Spark</h3>
           <form name="input" action="" method="POST" autocomplete="on">
                Type:<select id="selectlist" name="list" onchange="show(this)">
                    <option value="id1"> Reviews </option>
                    <option value="id2" SELECTED> Tips </option>
                    <option value="id3"> Messages </option>
                    <option value="id4">Notifications</option>
                </select><br>

                <div name="article"id="id2" style="display:block;">
                    Tip:<br>
                    <textarea name="body" rows="5" cols="25"></textarea>
                    Tags: <input type="text" list="tags" name="tag" id="tag">
                    <input type="button" value="add" id="addbutton" onclick="setTag()">
                    <input type="submit" value="Submit">
                </div>

                <div name="article"id="id1" style="display:none;">
                    Reviews:<br>
                    <textarea name="body" rows="5" cols="25"></textarea>
                    Tags: <input type="text" list="tags" name="tag" id="tag">
                    <input type="button" value="add" id="addbutton" onclick="setTag()">
                    <input type="submit" value="Submit">
                </div>

                <div name="article"id="id3" style="display:none;">
                    Message:<br>
                    <textarea name="body" rows="5" cols="25"></textarea>
                    Tags: <input type="text" list="tags" name="tag" id="tag">
                    <input type="button" value="add" id="addbutton" onclick="setTag()">
                    <input type="submit" value="Submit">
                </div>

                <div name="article"id="id4"style="display:none;">
                    Notification:<br>
                    <textarea  name="body" rows="5" cols="25"></textarea>
                    Tags: <input type="text" list="tags" name="tag" id="tag">
                    <input type="button" value="add" id="addbutton" onclick="setTag()">
                    <input type="submit" value="Submit">-->
                </div>

                
                <input type="hidden" id="taglist" name="taglist" value="">
                <input type ="hidden" name= "username" value ={{name}} > 
                <input type="hidden" id="latField" value="" name="latitude"/>
                <input type="hidden" id="lngField" value="" name="longitude"/>	
                
            <div id="tagPrint" style="height: 50px"></div>
    	</div>
    	<div id ="mapcontainer">

    	</div>
    	<div id="submit-strip">
            
    	</div>
        </form>  
    	<datalist id="tags">
         {% for tag in tags %}
           <option value="{{ tag[0] }}">
         {% endfor %}
        </datalist>
    </div>
</body>
</html>