
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Tip reader</title>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  function getLocation() {
    if (navigator.geolocation)
      {
       navigator.geolocation.getCurrentPosition(showPosition,showError);
      }
    else{document.getElementById('map_canvas').innerHTML="Geolocation is not supported by this browser.";}
      }

  function showPosition(position)
   {
    myLatlng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
    var myOptions = {
      zoom:17,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    
    var marker = new google.maps.Marker({
        position: myLatlng, 
        map: map,
        draggable:true
    });
    google.maps.event.addListener(
        marker,
        'drag',
        function() {
            document.getElementById('latField').value = marker.position.lat();
            document.getElementById('lngField').value = marker.position.lng();
        }
    );
  }

  function showError(error)
    {
     var x = document.getElementById('map_canvas');
     switch(error.code) 
      {
       case error.PERMISSION_DENIED:
        x.innerHTML="User denied the request for Geolocation."
        break;
       case error.POSITION_UNAVAILABLE:
        x.innerHTML="Location information is unavailable."
        break;
       case error.TIMEOUT:
        x.innerHTML="The request to get user location timed out."
        break;
       case error.UNKNOWN_ERROR:
        x.innerHTML="An unknown error occurred."
        break;
      }
    }
</script>
<script type="text/javascript">
    var singletag
    var taglist="";
    var tagprint
    function setTag()
    {
     singletag = document.getElementById('tag').value;
     tagprint=document.getElementById('tagPrint');
     tagprint.innerHTML = tagprint.innerHTML+"     "+singletag;
     taglist = taglist+","+singletag;
     taglist = taglist.substring(1);
     document.getElementById('taglist').value = taglist;
     taglist = ","+taglist;
     document.getElementById('tag').value ='';
    }
</script>
</head>

<body onload="getLocation()">
{% if name %}
<h1> hello {{ name }}!</h1>
{% else %}
<h1>invalid user </h1>
{% endif %}


{% if name %}

<form name="input" action="" method="POST" autocomplete="on">
Tip: <input type="text" name="body"><br>
Tags: <input list="tags" name="tag" id="tag">
<input type="button" value="add" id="addbutton" onclick="setTag()">
<input type="submit" value="Submit">

<input type="hidden" id="taglist" name="taglist" value="">
<input type ="hidden" name= "username" value ={{name}} > 
<input type="hidden" id="latField" value="" name="latitude"/>
<input type="hidden" id="lngField" value="" name="longitude"/>	
</form>
<div id="tagPrint" style="height: 50px"></div>
<div id="map_canvas" style="width:500px;height:500px;"></div>

<datalist id="tags">
{% for tag in tags %}
    <option value="{{ tag[0] }}">
{% endfor %}
</datalist>

{% endif %}
</body>
</html>

